### King County House Prices Exercise
- This notebook explores and analyzes house prices data in King County, WA.

In [63]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings('ignore')
%matplotlib inline
plt.rcParams['figure.figsize'] = (10.0, 8.0) # set default size of plots
plt.rcParams['image.interpolation'] = 'nearest'
plt.rcParams['image.cmap'] = 'gray'

### Load Data
- This step loads and data and print a few rows to get a quick look at the data.

In [8]:
def load_data(file_path):
    '''
    load data, examine shape of the data, check for duplicates, and print out 5 top rows
    Input: a string that indicates where the data is stored
    Output: a dataframe with house prices in King County
    '''
    house_df = pd.read_csv(file_path)
    print(house_df.head())
    print(f"Data includes the following columns and of these types: \n{house_df.dtypes}")
    print(f"Shape of data is: {house_df.shape}")
    
    house_df_dedup = house_df.drop_duplicates()
    print(f"Shape of data after dropping duplicates is: {house_df_dedup.shape}")
    
    return house_df_dedup

In [9]:
house_price = load_data('house_prices.csv')

           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960
4  1954400510  20150218T000000  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7        1180              0
1      7242     2.0           0     0  ...      7        2170            400
2     10000     1.0           0     0  ...      6         770              0
3      5000     1.0           0     0  ...      7        1050            910
4      8080     1.0           0     0  ...      8        1680              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503

[5 rows x 21 columns]
Data includes the following columns and of these types:
id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object
Shape of data is: (21613, 21)
Shape of data after dropping duplicates is: (21613, 21)

### Alternate Data Types
- After checking the data types, we can see some data types are mismatched. For example, `date` should be of datetime type instead of object type, `waterfront` and `view` should be of category type instead of integer. Let's alter the data types for these columns in this step.

In [14]:
def alter_type(house_df_dedup):
    '''
    alternate data types if they are inappropriate
    Input: a dataframe with house prices, after dropping duplicates
    Output: a dataframe with appropriate data types for each variables
    '''
    house_df_alt = house_df_dedup.copy()
    
    house_df_alt['date'] = pd.to_datetime(house_df_dedup['date'], errors='coerce')
    print(house_df_alt['date'].head())
    
    house_df_alt['waterfront'] = house_df_dedup['waterfront'].astype('category')
    house_df_alt['view'] = house_df_dedup['view'].astype('category')
    house_df_alt['zipcode'] = house_df_dedup['zipcode'].astype('category')
    print(house_df_alt[['waterfront', 'view','zipcode']].head())
    
    print(house_df_alt.dtypes)
    
    return house_df_alt

In [15]:
house_price_alt = alter_type(house_price)

0   2014-10-13
1   2014-12-09
2   2015-02-25
3   2014-12-09
4   2015-02-18
Name: date, dtype: datetime64[ns]
  waterfront view zipcode
0          0    0   98178
1          0    0   98125
2          0    0   98028
3          0    0   98136
4          0    0   98074
id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront             category
view                   category
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                category
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

### Explore Data
- This step explores the data further, checking for missing values, summary stats, correlations, plots, etc.

In [50]:
def describe_data(house_df_alt):
    '''
    describes data, includes generating summary stats, checking for missing values, plotting simple histograms, etc. 
    Input: a dataframe of house prices
    Output: print out including summary stats, count of missing values, simple plots, etc. 
            and a dataframe that includes an additional variable: renovated, which is a dummy variable that equals 1
            if a house was ever renovated.
    '''
    print(f"Summary stats for house price data is: \n{house_df_alt.describe()}\n")
    
    for col in house_df_alt.columns:
        print(f"There are {house_df_alt[col].isna().sum()} missing values in {col}.")
    
    house_df_alt['renovated'] = np.where(house_df_alt['yr_renovated']>0, 1, 0)
    
    for col in ['renovated','waterfront','view','zipcode']:
        print(house_df_alt[col].value_counts().sort_values(ascending=False).head(10))
    
    house_df_alt['year'] = house_df_alt['date'].dt.year
    print(house_df_alt['year'].value_counts().sort_values(ascending=False).head())
    
    print(house_df_alt[['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 
                        'sqft_above', 'sqft_basement', 'yr_built']].corr().reset_index())
    return house_df_alt

In [51]:
house_price_alt = describe_data(house_price_alt)

Summary stats for house price data is:
                 id         price      bedrooms     bathrooms   sqft_living  \
count  2.161300e+04  2.161300e+04  21613.000000  21613.000000  21613.000000
mean   4.580302e+09  5.400881e+05      3.370842      2.114757   2079.899736
std    2.876566e+09  3.671272e+05      0.930062      0.770163    918.440897
min    1.000102e+06  7.500000e+04      0.000000      0.000000    290.000000
25%    2.123049e+09  3.219500e+05      3.000000      1.750000   1427.000000
50%    3.904930e+09  4.500000e+05      3.000000      2.250000   1910.000000
75%    7.308900e+09  6.450000e+05      4.000000      2.500000   2550.000000
max    9.900000e+09  7.700000e+06     33.000000      8.000000  13540.000000

           sqft_lot        floors     condition         grade    sqft_above  \
count  2.161300e+04  21613.000000  21613.000000  21613.000000  21613.000000
mean   1.510697e+04      1.494309      3.409430      7.656873   1788.390691
std    4.142051e+04      0.539989      0.650743      1.175459    828.090978
min    5.200000e+02      1.000000      1.000000      1.000000    290.000000
25%    5.040000e+03      1.000000      3.000000      7.000000   1190.000000
50%    7.618000e+03      1.500000      3.000000      7.000000   1560.000000
75%    1.068800e+04      2.000000      4.000000      8.000000   2210.000000
max    1.651359e+06      3.500000      5.000000     13.000000   9410.000000

       sqft_basement      yr_built  yr_renovated           lat          long  \
count   21613.000000  21613.000000  21613.000000  21613.000000  21613.000000
mean      291.509045   1971.005136     84.402258     47.560053   -122.213896
std       442.575043     29.373411    401.679240      0.138564      0.140828
min         0.000000   1900.000000      0.000000     47.155900   -122.519000
25%         0.000000   1951.000000      0.000000     47.471000   -122.328000
50%         0.000000   1975.000000      0.000000     47.571800   -122.230000
75%       560.000000   1997.000000      0.000000     47.678000   -122.125000
max      4820.000000   2015.000000   2015.000000     47.777600   -121.315000

       sqft_living15     sqft_lot15     renovated          year
count   21613.000000   21613.000000  21613.000000  21613.000000
mean     1986.552492   12768.455652      0.042289   2014.322954
std       685.391304   27304.179631      0.201253      0.467616
min       399.000000     651.000000      0.000000   2014.000000
25%      1490.000000    5100.000000      0.000000   2014.000000
50%      1840.000000    7620.000000      0.000000   2014.000000
75%      2360.000000   10083.000000      0.000000   2015.000000
max      6210.000000  871200.000000      1.000000   2015.000000

There are 0 missing values in id.
There are 0 missing values in date.
There are 0 missing values in price.
There are 0 missing values in bedrooms.
There are 0 missing values in bathrooms.
There are 0 missing values in sqft_living.
There are 0 missing values in sqft_lot.
There are 0 missing values in floors.
There are 0 missing values in waterfront.
There are 0 missing values in view.
There are 0 missing values in condition.
There are 0 missing values in grade.
There are 0 missing values in sqft_above.
There are 0 missing values in sqft_basement.
There are 0 missing values in yr_built.
There are 0 missing values in yr_renovated.
There are 0 missing values in zipcode.
There are 0 missing values in lat.
There are 0 missing values in long.
There are 0 missing values in sqft_living15.
There are 0 missing values in sqft_lot15.
There are 0 missing values in renovated.
There are 0 missing values in year.
0    20699
1      914
Name: renovated, dtype: int64
0    21450
1      163
Name: waterfront, dtype: int64
0    19489
2      963
3      510
1      332
4      319
Name: view, dtype: int64
98103    602
98038    590
98115    583
98052    574
98117    553
98042    548
98034    545
98118    508
98023    499
98006    498
Name: zipcode, dtype: int64
2014    14633
2015     6980
Name: year, dtype: int64
           index  bedrooms  bathrooms  sqft_living  sqft_lot    floors  \
0       bedrooms  1.000000   0.515884     0.576671  0.031703  0.175429
1      bathrooms  0.515884   1.000000     0.754665  0.087740  0.500653
2    sqft_living  0.576671   0.754665     1.000000  0.172826  0.353949
3       sqft_lot  0.031703   0.087740     0.172826  1.000000 -0.005201
4         floors  0.175429   0.500653     0.353949 -0.005201  1.000000
5     sqft_above  0.477600   0.685342     0.876597  0.183512  0.523885
6  sqft_basement  0.303093   0.283770     0.435043  0.015286 -0.245705
7       yr_built  0.154178   0.506019     0.318049  0.053080  0.489319

   sqft_above  sqft_basement  yr_built
0    0.477600       0.303093  0.154178
1    0.685342       0.283770  0.506019
2    0.876597       0.435043  0.318049
3    0.183512       0.015286  0.053080
4    0.523885      -0.245705  0.489319
5    1.000000      -0.051943  0.423898
6   -0.051943       1.000000 -0.133124
7    0.423898      -0.133124  1.000000

### Regression Analysis
- This step analyzes the data in a regression analysis using OLS with fixed effects and cluster standard errors, if applicable.

In [39]:
print(house_price_alt.columns)

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'renovated', 'year'],
      dtype='object')

In [58]:
def reg_model(house_df_alt, y, cluster_group):
    '''
    run a regression model to regress prices (or other outcome metrics) on other variables 
        to quantify their correlations with prices.
    Input: 1. a dataframe with house prices and other control variables, 
           all variables should be of the appropriate data types;
           2. an outcome variable.
    Output: print out of regression analysis summary.
    '''
    reg_formula = f'{y} ~ bedrooms + bathrooms + sqft_living + sqft_lot + floors + C(waterfront) + C(view) \
                          + C(condition) + C(grade) + sqft_above + sqft_basement + yr_built + C(renovated) \
                          + C(zipcode) '
    
    smf_model = smf.ols(formula=reg_formula, data=house_df_alt).fit(cov_type='cluster', 
                                                                    cov_kwds={'groups':house_df_alt[cluster_group]})
    print(smf_model.summary())
    return None

In [64]:
reg_model(house_price_alt, 'price', 'zipcode')

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.835
Model:                            OLS   Adj. R-squared:                  0.835
Method:                 Least Squares   F-statistic:                 1.336e+10
Date:                Mon, 17 May 2021   Prob (F-statistic):               0.00
Time:                        16:48:25   Log-Likelihood:            -2.8811e+05
No. Observations:               21613   AIC:                         5.764e+05
Df Residuals:                   21515   BIC:                         5.772e+05
Df Model:                          97
Covariance Type:              cluster
=======================================================================================
                          coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept            5.596e+05   3.36e+05      1.666      0.096   -9.88e+04    1.22e+06
C(waterfront)[T.1]   5.703e+05   1.22e+05      4.681      0.000    3.32e+05    8.09e+05
C(view)[T.1]         8.924e+04   1.86e+04      4.807      0.000    5.29e+04    1.26e+05
C(view)[T.2]          7.21e+04   1.01e+04      7.145      0.000    5.23e+04    9.19e+04
C(view)[T.3]         1.524e+05   2.19e+04      6.964      0.000     1.1e+05    1.95e+05
C(view)[T.4]         2.991e+05   3.43e+04      8.730      0.000    2.32e+05    3.66e+05
C(condition)[T.2]     8.59e+04   4.14e+04      2.073      0.038    4667.730    1.67e+05
C(condition)[T.3]     9.51e+04   4.25e+04      2.236      0.025    1.17e+04    1.78e+05
C(condition)[T.4]    1.195e+05   4.38e+04      2.729      0.006    3.37e+04    2.05e+05
C(condition)[T.5]    1.639e+05   4.42e+04      3.708      0.000    7.73e+04    2.51e+05
C(grade)[T.3]        2.329e+04   4.81e+04      0.484      0.628    -7.1e+04    1.18e+05
C(grade)[T.4]       -4.617e+04   4.81e+04     -0.959      0.337   -1.41e+05    4.82e+04
C(grade)[T.5]       -9.299e+04    4.8e+04     -1.935      0.053   -1.87e+05    1179.048
C(grade)[T.6]       -9.606e+04   4.69e+04     -2.048      0.041   -1.88e+05   -4117.962
C(grade)[T.7]       -9.107e+04   4.58e+04     -1.988      0.047   -1.81e+05   -1267.246
C(grade)[T.8]       -6.494e+04   4.57e+04     -1.420      0.156   -1.55e+05    2.47e+04
C(grade)[T.9]        1.153e+04   4.36e+04      0.264      0.791   -7.39e+04     9.7e+04
C(grade)[T.10]       1.354e+05   4.57e+04      2.963      0.003    4.59e+04    2.25e+05
C(grade)[T.11]       3.335e+05   5.62e+04      5.936      0.000    2.23e+05    4.44e+05
C(grade)[T.12]       7.279e+05   1.26e+05      5.754      0.000     4.8e+05    9.76e+05
C(grade)[T.13]       1.834e+06   3.34e+05      5.494      0.000    1.18e+06    2.49e+06
C(renovated)[T.1]    5.193e+04   1.19e+04      4.360      0.000    2.86e+04    7.53e+04
C(zipcode)[T.98002]  3846.7799   2442.049      1.575      0.115    -939.548    8633.108
C(zipcode)[T.98003] -4171.3232   1851.482     -2.253      0.024   -7800.161    -542.485
C(zipcode)[T.98004]  7.684e+05   1.63e+04     47.007      0.000    7.36e+05       8e+05
C(zipcode)[T.98005]  3.108e+05   1.15e+04     26.951      0.000    2.88e+05    3.33e+05
C(zipcode)[T.98006]  2.543e+05   1.57e+04     16.232      0.000    2.24e+05    2.85e+05
C(zipcode)[T.98007]  2.553e+05   6326.357     40.350      0.000    2.43e+05    2.68e+05
C(zipcode)[T.98008]  2.641e+05   5878.038     44.928      0.000    2.53e+05    2.76e+05
C(zipcode)[T.98010]  5.795e+04   5255.926     11.025      0.000    4.76e+04    6.82e+04
C(zipcode)[T.98011]  1.401e+05   3782.775     37.044      0.000    1.33e+05    1.48e+05
C(zipcode)[T.98014]  9.081e+04   6029.644     15.060      0.000     7.9e+04    1.03e+05
C(zipcode)[T.98019]   9.82e+04   3107.606     31.600      0.000    9.21e+04    1.04e+05
C(zipcode)[T.98022] -1.109e+04   4419.015     -2.509      0.012   -1.97e+04   -2426.087
C(zipcode)[T.98023] -2.749e+04   2172.068    -12.655      0.000   -3.17e+04   -2.32e+04
C(zipcode)[T.98024]  1.522e+05   8230.795     18.496      0.000    1.36e+05    1.68e+05
C(zipcode)[T.98027]  1.711e+05   7339.707     23.317      0.000    1.57e+05    1.86e+05
C(zipcode)[T.98028]  1.358e+05   2495.458     54.401      0.000    1.31e+05    1.41e+05
C(zipcode)[T.98029]  2.263e+05   5036.433     44.925      0.000    2.16e+05    2.36e+05
C(zipcode)[T.98030]  9674.7190    829.379     11.665      0.000    8049.166    1.13e+04
C(zipcode)[T.98031]  1.838e+04   1391.573     13.210      0.000    1.57e+04    2.11e+04
C(zipcode)[T.98032]  3891.2103   3133.469      1.242      0.214   -2250.276       1e+04
C(zipcode)[T.98033]  3.624e+05   8038.609     45.088      0.000    3.47e+05    3.78e+05
C(zipcode)[T.98034]  2.019e+05   2370.699     85.171      0.000    1.97e+05    2.07e+05
C(zipcode)[T.98038]  3.903e+04   2613.625     14.934      0.000    3.39e+04    4.42e+04
C(zipcode)[T.98039]  1.229e+06   3.48e+04     35.307      0.000    1.16e+06     1.3e+06
C(zipcode)[T.98040]  5.128e+05   2.01e+04     25.472      0.000    4.73e+05    5.52e+05
C(zipcode)[T.98042]  7102.7605   1498.452      4.740      0.000    4165.850       1e+04
C(zipcode)[T.98045]  9.594e+04   3128.350     30.668      0.000    8.98e+04    1.02e+05
C(zipcode)[T.98052]  2.451e+05   6106.196     40.139      0.000    2.33e+05    2.57e+05
C(zipcode)[T.98053]  2.097e+05   1.03e+04     20.371      0.000     1.9e+05     2.3e+05
C(zipcode)[T.98055]  4.395e+04   1706.550     25.751      0.000    4.06e+04    4.73e+04
C(zipcode)[T.98056]  9.088e+04   3587.552     25.332      0.000    8.38e+04    9.79e+04
C(zipcode)[T.98058]  3.435e+04   2285.118     15.032      0.000    2.99e+04    3.88e+04
C(zipcode)[T.98059]  8.498e+04   6919.461     12.281      0.000    7.14e+04    9.85e+04
C(zipcode)[T.98065]  9.918e+04   8372.853     11.846      0.000    8.28e+04    1.16e+05
C(zipcode)[T.98070] -9329.2771   2.46e+04     -0.379      0.705   -5.76e+04    3.89e+04
C(zipcode)[T.98072]   1.66e+05   6230.013     26.652      0.000    1.54e+05    1.78e+05
C(zipcode)[T.98074]  1.824e+05   1.11e+04     16.446      0.000    1.61e+05    2.04e+05
C(zipcode)[T.98075]  1.743e+05   1.71e+04     10.210      0.000    1.41e+05    2.08e+05
C(zipcode)[T.98077]  1.204e+05   1.45e+04      8.316      0.000    9.21e+04    1.49e+05
C(zipcode)[T.98092] -2.317e+04   3098.662     -7.479      0.000   -2.92e+04   -1.71e+04
C(zipcode)[T.98102]  4.963e+05   1.26e+04     39.355      0.000    4.72e+05    5.21e+05
C(zipcode)[T.98103]  3.463e+05   8990.271     38.514      0.000    3.29e+05    3.64e+05
C(zipcode)[T.98105]  4.851e+05   1.05e+04     46.281      0.000    4.65e+05    5.06e+05
C(zipcode)[T.98106]   1.26e+05   5203.988     24.212      0.000    1.16e+05    1.36e+05
C(zipcode)[T.98107]  3.514e+05   9215.870     38.128      0.000    3.33e+05    3.69e+05
C(zipcode)[T.98108]  1.206e+05   4706.344     25.625      0.000    1.11e+05     1.3e+05
C(zipcode)[T.98109]  5.153e+05   1.07e+04     47.988      0.000    4.94e+05    5.36e+05
C(zipcode)[T.98112]  6.384e+05   1.38e+04     46.293      0.000    6.11e+05    6.65e+05
C(zipcode)[T.98115]  3.403e+05   6261.955     54.340      0.000    3.28e+05    3.53e+05
C(zipcode)[T.98116]  2.939e+05   6810.570     43.149      0.000    2.81e+05    3.07e+05
C(zipcode)[T.98117]  3.219e+05   7137.451     45.104      0.000    3.08e+05    3.36e+05
C(zipcode)[T.98118]  1.629e+05   4675.784     34.834      0.000    1.54e+05    1.72e+05
C(zipcode)[T.98119]  4.964e+05   1.06e+04     46.643      0.000    4.75e+05    5.17e+05
C(zipcode)[T.98122]  3.531e+05   9136.326     38.644      0.000    3.35e+05    3.71e+05
C(zipcode)[T.98125]  2.033e+05   4183.825     48.586      0.000    1.95e+05    2.11e+05
C(zipcode)[T.98126]  1.917e+05   5449.231     35.171      0.000    1.81e+05    2.02e+05
C(zipcode)[T.98133]   1.66e+05   4719.430     35.170      0.000    1.57e+05    1.75e+05
C(zipcode)[T.98136]  2.524e+05   6403.666     39.408      0.000     2.4e+05    2.65e+05
C(zipcode)[T.98144]  2.839e+05   6818.975     41.635      0.000    2.71e+05    2.97e+05
C(zipcode)[T.98146]  9.313e+04   4361.276     21.355      0.000    8.46e+04    1.02e+05
C(zipcode)[T.98148]  7.007e+04   2956.120     23.704      0.000    6.43e+04    7.59e+04
C(zipcode)[T.98155]  1.467e+05   2688.250     54.563      0.000    1.41e+05    1.52e+05
C(zipcode)[T.98166]  5.757e+04   9367.517      6.145      0.000    3.92e+04    7.59e+04
C(zipcode)[T.98168]  5.285e+04   3784.608     13.964      0.000    4.54e+04    6.03e+04
C(zipcode)[T.98177]   2.17e+05   8582.097     25.291      0.000       2e+05    2.34e+05
C(zipcode)[T.98178]  3.127e+04   5313.125      5.885      0.000    2.09e+04    4.17e+04
C(zipcode)[T.98188]  3.202e+04   1962.862     16.312      0.000    2.82e+04    3.59e+04
C(zipcode)[T.98198] -2129.3439   5133.823     -0.415      0.678   -1.22e+04    7932.763
C(zipcode)[T.98199]  3.952e+05   9029.167     43.766      0.000    3.77e+05    4.13e+05
bedrooms            -1.198e+04   3378.803     -3.547      0.000   -1.86e+04   -5361.584
bathrooms            2.429e+04   4557.954      5.328      0.000    1.54e+04    3.32e+04
sqft_living            96.1202      8.319     11.555      0.000      79.816     112.425
sqft_lot                0.1811      0.077      2.367      0.018       0.031       0.331
floors              -3.125e+04   7639.765     -4.090      0.000   -4.62e+04   -1.63e+04
sqft_above             75.1490      7.937      9.468      0.000      59.593      90.705
sqft_basement          20.9712      3.842      5.459      0.000      13.442      28.501
yr_built             -301.5809    172.191     -1.751      0.080    -639.069      35.907
==============================================================================
Omnibus:                    16663.793   Durbin-Watson:                   1.999
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          2103464.285
Skew:                           2.950   Prob(JB):                         0.00
Kurtosis:                      50.968   Cond. No.                     9.72e+16
==============================================================================

Warnings:
[1] Standard Errors are robust to cluster correlation (cluster)
[2] The smallest eigenvalue is 4.45e-21. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.